* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Times New Roman', Times, serif
}

body {

  background-size: cover;
  min-height: 100vh;
  padding-top: 70px; /* for navbar space */
  color: #f5f5f5;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1c1c1c;
    padding: 14px 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Segoe UI", Arial, sans-serif;
}

nav {
    display: block;
    unicode-bidi: isolate;
}