
@keyframes fadeInPage {
  to {
    opacity:1;
    transform:translateY(0);
  }
}








.welcome {
  text-align: center;
  margin-top: 120px;
  opacity: 0;
  transform: scale(0.95);
  animation: contentFade 1s ease forwards 0.4s;
}

@keyframes contentFade {
  to { opacity: 1; transform: scale(1); }
}

.welcome h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 16px;
  color: #444;
}

.welcome .btn-reserve {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #120901;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: buttonFade 0.8s ease-out forwards 0.6s;
}

.welcome .btn-reserve:hover {
  background: #cec1b0;
  color: #120901;
  transform: scale(1.05);
}

@keyframes buttonFade {
  to { opacity: 1; transform: translateY(0); }
}




