* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: 'Poppins', sans-serif;
}

body {
  background: white;
  color: #111;
  overflow-x: hidden;

  opacity: 0;
  transform: translateY(20px);
  animation: pageFade 1s ease-out forwards;
}

@keyframes pageFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  padding: 50px;
  text-align: center;
}


/*  HERO / PAGE TITLE  */
.hero {
  text-align: center;
  padding: 60px 10%;
  background-color: #222;
  color: #f5f5f5;
  border-radius: 12px;
  max-width: 800px;
  margin: 40px auto 20px auto;

  opacity: 0;
  transform: scale(0.95);
  animation: heroFade 0.9s ease forwards;
}

@keyframes heroFade {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.1rem;
  color: #ddd;
}

/* HISTORY CARDS */
#historyContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin: 40px 5px 60px 5px;
}

.history-card {
  background: #222;
  color: #fff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.4);
  border: 1px solid #111;
  transition: all 0.3s ease;

  opacity: 0;
  transform: translateY(20px);
  animation: cardFade 0.8s ease forwards;
}

@keyframes cardFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.history-card:hover {
  transform: translateY(-5px) scale(1.03);
  background-color: #2d2d29e7;
  box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}

.history-card h3 {
  color: #f4b400;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.card-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 6px;
}

.card-label { color: #f5d98b; font-weight: 500; }
.card-value { color: #ccc; text-align: right; font-weight: 400; }

.button-center {
  display: flex;
  justify-content: center;
  width: 100%;
}


/* BACK BUTTON */
.back-btn {
  display: inline-block;
  justify-content: center;
  margin-top: 40px;
  background: #111;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.back-btn:hover {
  background: #cec1b0;
  color: #111;
  transform: scale(1.05);
}

/* NO DATA */
.no-data {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 50px;
  font-size: 1rem;
}

