* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body {
  background:white;
  color:#111;
  opacity:0;
  transform:translateY(20px);
  animation: fadeInPage 0.8s ease forwards;
}

