

@keyframes fadeInPage {
  to {
    opacity:1;
    transform:translateY(0);
  }
}



@keyframes dropNav {
  from {
    opacity:0;
    transform:translateY(-15px);
  }
  to {
    opacity:1;
    transform:translateY(0);
  }
}

.logo {
  color:white;
  font-weight:600;
  font-size:20px;
}


main {
  padding:20px;
  text-align:center;
}

.form-container {
  display:flex;
  justify-content:center;
  align-items:flex-start;
  margin-top:30px;
}

form {
  background:white;
  border-bottom: 99px;
  border-radius:10px;
  width:400px;
  padding:30px;
  box-shadow:0 0 15px #000;
  opacity:0;
  transform:translateY(10px);
  animation:fadeSlide 0.8s ease forwards 0.8s;
}

@keyframes fadeSlide {
  to {
    opacity:1;
    transform:translateY(0);
  }
}

form label {
  display:block;
  margin-top:15px;
  font-size:14px;
  color:black;
}

form input, form select {
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:5px;
  border:1px solid #ccc;
  box-sizing:border-box;
}

form button {
  width:100%;
  padding:15px;
  margin-top:20px;
  background:#f1c40f;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
  transition:background 0.3s, transform 0.3s ease;
}

form button:hover {
  background:black;
  color:white;
  transform:scale(1.05);
}




@keyframes slideDown {
  from {
    opacity:0;
    transform:translateY(-10px);
  }
  to {
    opacity:1;
    transform:translateY(0);
  }
}
