

@keyframes fadeInPage {
  to {
    opacity:1;
    transform:translateY(0);
  }
}




main {
    padding: 2rem;
    text-align: center;
    animation: fadeIn 1s ease forwards 0.6s;
    opacity: 0;
}

@keyframes fadeIn {
    to { opacity: 1; }
}


.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.service-card {
    background-color: #222;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    text-align: center;

    opacity: 0;
    transform: translateY(40px);
    animation: cardWaveIn 0.8s ease-out forwards;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}


@keyframes cardWaveIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    60% {
        opacity: 1;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.service-card:nth-child(1) { animation-delay: 0.3s; }
.service-card:nth-child(2) { animation-delay: 0.4s; }
.service-card:nth-child(3) { animation-delay: 0.6s; }
.service-card:nth-child(4) { animation-delay: 0.8s; }
.service-card:nth-child(5) { animation-delay: 1s; }
.service-card:nth-child(6) { animation-delay: 1.2s; }
.service-card:nth-child(7) { animation-delay: 1.4s; }
.service-card:nth-child(8) { animation-delay: 1.6s; }

/* Hover effect */
.service-card:hover {
    transform: translateY(-5px) scale(1.03);
    background-color: #2d2d29e7;
    box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}

.service-card h3 {
    margin-bottom: 0.5rem;
}


.back-btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    background-color: black; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 'Poppins',sans-serif;
    transition: all 0.3s ease;
}
@keyframes buttonFade { to { opacity:1; transform:translateY(0); } }
.back-btn:hover {
    background: #2d2d29e7   ;
    transform: scale(1.05);
    color: white;
}


