

@keyframes fadeInPage {
  to {
    opacity:1;
    transform:translateY(0);
  }
}




/*  Main Section with fade-in animation */
main {
    padding: 2rem;
    text-align: center;
    transition: all 0.3s;

    opacity: 0;
    transform: scale(0.98);
    animation: mainFadeIn 0.8s ease forwards 0.6s;
}

@keyframes mainFadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*  Confirmation Details Card */
.confirmation-details {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px #000;
    margin-top: 60px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;

    /* card fade in */
    opacity: 0;
    transform: translateY(15px);
    animation: cardFadeIn 0.9s ease forwards 0.9s;
}

@keyframes cardFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.confirmation-details:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px #000;
}

.confirmation-details p {
    margin: 0.5rem 0;
    transition: color 0.3s;
}

/* Headings */
h2 {
    color: black;
    opacity: 0;
    transform: translateY(-10px);
    animation: textFade 0.7s ease forwards 1s;
}

@keyframes textFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Back Button */
.back-btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: textFade 0.7s ease forwards 1.2s;
}

/* Hover effect for Back Button */
.back-btn:hover {
    background: #cec1b0;  
    color: white;
    transform: translateY(0) scale(1.05);
}


/* Edit Button */
.edit-btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.7rem 1.5rem;
    background: #120901;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 'Poppins', sans-serif;
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: textFade 0.7s ease forwards 1.2s;
}

.edit-btn:hover {
    background: #cec1b0;
    color: white;
    transform: scale(1.05);  /* Apply scale effect */
}


